@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";
body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#deck-list {
    color: gray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-gap: 20px;
}

#deck-list a {
    text-decoration: none;
    color: gray;
    text-align: center;
}

button#starter {
    background-color: #f6755e;
    color: white;
}

button {
    background-color: lightgrey;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.center {
    margin: auto;
    width: 90%;
    padding: 10px;
}


/*for deck card style */

.deck {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 1px solid black;
    font-size: 20px;
    opacity: 80%;
}


/* On mouse-over, add a deeper shadow */

.deck:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}


/* Add some padding inside the card container */

.container {
    padding: 15px;
}


/* Header */

body {
    padding-top: 6em;
}

#header {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background: #fff;
    cursor: default;
    height: 6em;
    left: 0;
    line-height: 6em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
    text-align: center;
}

#header .logo {
    color: #f6755e;
    font-family: "Pacifico", cursive;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: -5px;
    text-decoration: none;
    display: inline-block;
}


/* Banner */

#banner {
    padding: 14em 0 12em 0;
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
}

#banner h1 {
    font-size: 3em;
    color: #25a2c3;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

#banner p {
    font-size: 1.25em;
    margin-bottom: 1.75em;
}